@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #49260a;
height: auto;
}


:focus{
  outline: none;
}


* {
  scrollbar-color: rgb(82 82 82 );
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #837d7d;
  border-radius: 5px;
  border-right: 2px solid #f6eddd;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
